<div class="w-screen flex justify-center">
<header class="flex flex-col bg-red-50 w-screen py-2 px-6 ">
<div class=" flex justify-between">
  <div >Menu</div>
  <div>Langualge</div>

</div>
<div class="flex justtify-between">
  <input class="w-[80%]" type="text">
  <div class="w-[20%] flex justify-center   " ><button>Filter</button></div>
</div>

</header>

</div>  

<div class="grid grid-cols-2 w-full gap-x-4 bg-red-500 px-6">
<div class="flex flex-col">
  <div class="w-full h-64 rounded-lg bg-slate-200 relative group">
    <div class="absolute right-[10%] top-5 cursor-pointer hidden group-hover:block">Love</div>
  </div>
  <div class="flex flex-col">
    <p>Dog Name</p>
    <p>Dog Detail</p>
  </div>

</div>


<div>sds  </div>
  
</div>